/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/



/*Add your own styles here:*/


.header_color.av_header_transparency .sub_menu>ul>li>a,
.header_color.av_header_transparency .sub_menu>div>ul>li>a,
.header_color.av_header_transparency .main_menu ul:first-child > li > a,
#top .header_color.av_header_transparency .main_menu .menu ul .current_page_item > a,
#top .header_color.av_header_transparency .main_menu .menu ul .current-menu-item > a,
#top .header_color.av_header_transparency .sub_menu li ul a {
    color: #ffffff;
}

.logo {
    padding-top: 20px;
}

.header-scrolled-full .logo,
.header-scrolled .logo {
    padding-top: 0;
}

#after_layer_slider_1 .content {
    padding-top: 0px;
}

#after_layer_slider_1 .flex_column_table.av-equal-height-column-flextable {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#after_layer_slider_1 .flex_column_table.av-equal-height-column-flextable .avia_image {
    width: 100vw;
}


#services-section .avia_image,
#after_layer_slider_1 .flex_column_table.av-equal-height-column-flextable .avia_image {
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .6s ease;
}

#services-section .av_one_third:hover .avia_image,
#after_layer_slider_1 .flex_column_table.av-equal-height-column-flextable:hover .avia_image {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}


.av-thin-font .av-special-heading-tag,
.modern-quote .av-special-heading-tag,
.av-image-caption-overlay-center {
    font-weight: bold;
}

.av-image-caption-overlay-center:hover {
    color: rgb(255, 255, 255) !important;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
    z-index: 71;
}





#services-section .av_one_third.first{
    margin-left: 0;
}

#services-section .av_one_third {
    margin-left: 3%;
    width: 31.333333%;
}


#services-section .column-top-margin{
    margin-top: 30px;
}


#layerslider_2 .ls-bg-wrap,
#layerslider_6 .ls-bg-wrap {
    position: relative;
}
#layerslider_2 .ls-bg-wrap:after,
#layerslider_6 .ls-bg-wrap:after {
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255,0.6);
}

#layerslider_2 .ls-wrapper.ls-in-out span,
#layerslider_6 .ls-wrapper.ls-in-out span {
    max-width: 170px !important;
}


#call-request .avia-button-center,
#job-find .avia-button-center  {
    float: left;
}

#call-request .avia-button.avia-size-medium,
#job-find .avia-button.avia-size-medium {
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px;
}


input::placeholder ,
#search_keywords::placeholder,
#search_location::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a8acad;
    font-weight: 600;
    opacity: 1; /* Firefox */
}

#search_keywords:-ms-input-placeholder,
#search_location:-ms-input-placeholder,
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a8acad;
    font-weight: 600;
}

input::-ms-input-placeholder,
#search_location::-ms-input-placeholder
#search_keywords::-ms-input-placeholder { /* Microsoft Edge */
    color: #a8acad;
    font-weight: 600;
}

.flatpickr-months .flatpickr-month {
    height: 80px !important;
}

.flatpickr-current-month .numInputWrapper {
    height: 30px!important;
}

.call-request-send {
    background-color: #00907a !important;
    color: #ffffff !important;
    width: 100% !important;
    font-weight: 500 !important;
}


#service-template .avia_image {
    width: 100vw;
    border-radius: 0px;
}

#socket .copyright {
    float: right;
}

#socket li {
    float: left;
    margin-right: 10px;
}

#footer .social_bookmarks li {
    float: left;
    display: contents;
}

#footer {
    padding: 0;
}


.search_keywords_col.av_one_fifth {
    margin-left: 1%;
    width: 24.2%;
}

.search_keywords_col.av_four_fifth {
    width: 74.8%;
}

#search_location {
    width: 70% !important;
    float: left;
}

.job_filters .search_jobs div.search_submit {
    width: 29%;
    margin-left: 1%;
    float: left;
    padding-top: 0;
}

#search_keywords,
#search_location {
    background: #EBEBEB !important;
    border-color: #EBEBEB !important;
    margin-bottom: 0 !important;
    font-size: 20px !important;
    font-family: "montserrat", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 500 !important;
}

.job_filters .search_jobs {
    padding: 0.5em;
}


.rp4wp-related-job_listing > ul li.job_listing a div.position,
.rp4wp-related-job_listing > ul li.no_job_listings_found a div.position,
ul.job_listings li.job_listing a div.position,
ul.job_listings li.no_job_listings_found a div.position {
    padding: 0!important;
}

.rp4wp-related-job_listing > ul li.job_listing a,
.rp4wp-related-job_listing > ul li.no_job_listings_found a,
ul.job_listings li.job_listing a,
ul.job_listings li.no_job_listings_found a {
    padding: 1em 1em 1em 0;
}


.rp4wp-related-job_listing > ul,
ul.job_listings {
    border-top: none;
}

.rp4wp-related-job_listing > ul li.job_listing,
.rp4wp-related-job_listing > ul li.no_job_listings_found,
ul.job_listings li.job_listing,
ul.job_listings li.no_job_listings_found {
    height: auto;
    min-height: 100%;
    overflow: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #00907a;
}

.position h3 {
    font-size: 24px;
}

.location {
    font-size: 18px;
    color: #a8acad;
}

.job-direct a {
    padding: 0.5em 1.5em 0.5em 1.5em !important;
}

.job-direct .avia-button.avia-size-small {
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px;
}


.rp4wp-related-job_listing > ul li.job_listing a:focus,
.rp4wp-related-job_listing > ul li.job_listing a:hover,
.rp4wp-related-job_listing > ul li.no_job_listings_found a:focus,
.rp4wp-related-job_listing > ul li.no_job_listings_found a:hover,
ul.job_listings li.job_listing a:focus,
ul.job_listings li.job_listing a:hover,
ul.job_listings li.no_job_listings_found a:focus,
ul.job_listings li.no_job_listings_found a:hover {
    background-color: rgb(168, 172, 173);
}

.job_search_submit {
    float: right;
}

.job_search_submit .fa.fa-search {
    float: right;
    color: #fff;
    font-size: 30px;
}

.job_search_submit button {
    border: none;
}

.job_search_submit .fa.fa-search:hover {
    color: #0c0c0c;
}


body div .avia-button {
    border-radius: 0;
    font-weight: 700;
    font-size: 18px;
}

#jobs-section .avia-button.avia-size-medium {
    padding: 1em 5em;
    font-size: 18px;
}

#top .fullsize .template-blog .post-title {
    text-align: left;
    font-size: 30px;
    padding: 15px 0;
    max-width: 800px;
    margin: 0 auto;
    color: #00b19c;
}

.post-meta-infos,
.date-posted,
.single_job_listing .meta .location::before {
    display: none;
}

#blog-home .slide-meta {
    display none;
}

.av-content-full > .comment-entry {
    display: none;
}


.logo img {
    max-height: 50px !important;
}


.job_search_submit button {
    background-color: transparent;
}
